<!doctype html>
<html lang="kr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{teamName}} - {{postType}} Page</title>
</head>
<body>

{{#msg}}
    <div class="alert alert-warning" role="alert" style="margin-bottom:0px">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/msg}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/{{teamName}}">Baseball</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/{{teamName}}/information">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{teamName}}/question">Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{teamName}}/talk">Talk</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Team
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/LG">LG</a></li>
                        <li><a class="dropdown-item" href="/KT">KT</a></li>
                        <li><a class="dropdown-item" href="/SSG">SSG</a></li>
                        <li><a class="dropdown-item" href="/NC">NC</a></li>
                        <li><a class="dropdown-item" href="/Doosan">Doosan</a></li>
                        <li><a class="dropdown-item" href="/KIA">KIA</a></li>
                        <li><a class="dropdown-item" href="/Lotte">Lotte</a></li>
                        <li><a class="dropdown-item" href="/Samsung">Samsung</a></li>
                        <li><a class="dropdown-item" href="/Hanhwa">Hanhwa</a></li>
                        <li><a class="dropdown-item" href="/Kiwoom">Kiwoom</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/mypage">my Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h1>{{teamName}} {{postType}} Page</h1>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Writer</th>
            <th>Created At</th>
            <th>Last Updated</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#postList}}
            <tr>
                <td><a href="/{{teamName}}/{{stringPostType}}/{{id}}">{{title}}</a></td>
                <td>{{contents}}</td>
                <td>{{writerId}}</td>
                <td>{{createdAt}}</td>
                <td>{{updatedAt}}</td>
            </tr>
        {{/postList}}
        </tbody>
    </table>

    <a href="/{{teamName}}/{{postType}}/create" class="btn btn-primary mt-3">Create New Post</a>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>
